@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  

*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color:  #f1f6fc31;

}
section,footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color:#0000009c ;
}
.contrainer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
header{
    background-position: center;
    background-size: cover ;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 5px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
    margin-left: 80px;
}
nav ul a:hover{
    color:   #95bff1;
}
.btn{
    color: white;
    background-color: #3580db ;
    padding : 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s all;
    
}
@keyframes animate-outline {
    form{
        outline: 0px solid #4f9bf98a;
    }
    to{
    outline: 15px solid #4f9bf900 ;
    }
    
    
}
.btn:hover{
    background-color: #669de0 ;
    color: white;
 
   
}

.banner{
    display: flex;
    justify-content: center;

}
.banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
 
}
.banner-text h1{
    font-size: 90px;
    color: white;

}
.banner .banner-text p{
    padding-top: 20px;
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
}
.banner .banner-text a{
    margin-top: 40px;
    color: white;
}
/* FAÇA MAIS */
.faça-mais .conteiner{
display: flex ;
align-items: center;

}
.faça-mais .faça-mais-text-1{
    width: 50%;
    padding: 0 40px ;
    padding-left: 20%;
 
}
.faça-mais .conteiner .faça-mais-text-1 h1{
    font-size: 80px;
    margin-bottom: 10px;


}
.faça-mais .faça-mais-text-1 p{
    margin: 20px 0 10px 0;

}
.faça-mais .contrainer .faça-mais a{
    margin-top: 80px;
}
.faça-mais .faça-mais-img {
    width: 50%;
}
.faça-mais .faça-mais-img  img{
    width: 100%;
}

/* TER UM WEBSITE NUNCA FOI TÃO FACIL  */

.faça-mais .conteiner{
    display: flex ;
    align-items: center;
    
    }
    .faça-mais .faça-mais-text-2{
        width: 50%;
        padding: 0 40px ;
        padding-right: 20%;
     
    }
    .faça-mais .conteiner .faça-mais-text-2 h1{
        font-size: 80px;
        margin-bottom: 10px;
    
    
    }
    .faça-mais .faça-mais-text-2 p{
        margin: 20px 0 10px 0;
    
    }
    .faça-mais .contrainer .faça-mais a{
        margin-top: 80px;
    }
    .faça-mais .faça-mais-img {
        width: 50%;
    }
    .faça-mais .faça-mais-img  img{
        width: 100%;
    }
    /* DEPOIMENTOS */
    .depoimento h3{
        text-align: center;
    }
    .depoimento p{
        margin-bottom: 20px;
        text-align: center;
    }
    .cards{
        display: flex;
        justify-content: center ;
    }
    .depoimento .card-item{
        background-color: #d3e6fd;
        margin: 15px;
        border-radius: 14px;
        text-align: center;
        width: 350px;
    }
    .depoimento .card-item img{
      width: 160px;
      height: 150px;
      border-radius: 100%;
      display: block;
      margin: 18px auto ;
    }
    .depoimento .card-item .name-user{
      font-weight: bold; 
        font-size: 20px ;
        margin-bottom: 15px;
    }

    .depoimento .card-item .depoimento-user{
        font-size: 15px;
        padding: 0 15px;
    }
    .depoimento .card-item .estrela{
        margin: 15px 0;
        border-top: 2px solid #71767a23;
        font-size: 20px;
    }